<!DOCTYPE html>
<html ng-app="materialChips">

  <head>
      <meta name="viewport" content="width=device-width">
    <link data-require="font-awesome@4.3.0" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script data-require="underscore.js@1.5.2" data-semver="1.5.2" src="//cdn.jsdelivr.net/underscorejs/1.5.2/underscore-min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="AppController">
    <md-toolbar class="md-primary">
      <h2 >
        <span>Angular Material Bottomsheet</span>
      </h2>
    </md-toolbar>
    <md-button id="btnShareMenu" name="btnShareMenu" style="margin-top: 2%;" class="md-icon-button" aria-label="Social Share Menu" ng-click="showListBottomSheet($event)">
      <span >Click here</span>
    </md-button>
  </body>

</html>
