<md-bottom-sheet class="md-grid">

    <br>
  <!-- 
  <md-subheader>Share</md-subheader>
      
      
      <div class="wrapper">
          <md-button ng-repeat="item in items" class="md-grid-item-content" 
        ng-class="item.class" ng-click="listItemClick($index)" style="padding: 10px;">
          <i class="fa fa-4x" ng-class="item.icon"></i>
        </md-button>
        <md-button ng-repeat="item in items" class="md-grid-item-content" 
        ng-class="item.class" ng-click="listItemClick($index)" style="padding: 10px;">
          <i class="fa fa-4x" ng-class="item.icon"></i>
        </md-button>
         
        
      </div>
      
    -->
      
</md-bottom-sheet>